@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: #FAFAFA;
    padding: 0 1rem;
}
textarea, input, button { outline: none;
}

.notes {
  margin: 0px
}

.note {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px #ccc;
  padding: 16px;
  width: 320px;
  margin: 16px 0;
}
.note h2{
  /*font-size: 1.1em;*/
  margin-bottom: 8px;
}
.note pre {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}
.note button{
  background: none;
  border: none;
  font-size: 20px;
  opacity: 0;
  cursor: pointer;
  transition: opacity .5s;
  margin: 0 4px 0 0;
}
.note button.edit{
  float: right;
}
.note:hover, .note:focus{
  box-shadow: 0 1px 8px #797979;
}
.note:hover button, .note:focus button{
  opacity: 0.6;
}

.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(50,50,50,0.8);
}
form.edit-note{
  position: relative;
  width: 480px;
  max-width: 100%;
  margin: 25vh auto 0;
  background: #fff;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 50px #555;
}
form.edit-note input, form.edit-note textarea{
  width: 100%;
  max-width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  color: #555555;
}
form.edit-note input{
  color:black;
  font-size: 1.4em;
}
form.edit-note button[type=submit]{
  font-size: 18px;
  float: right;
  background: #FF9800;
  color: #fff;
  border: none;
  border-radius: 3px;
  opacity: 1;
  cursor: pointer;
  padding: 4px 6px;
  margin: 0;
}
form.edit-note button{
  background: none;
  border: none;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity .5s;
  margin: 0 4px 0 0;
}
form.edit-note button:hover, form.edit-note button:focus{
  opacity: 1;
}

/* modal transition */
.modal-transition{
  transition: opacity 0.3s ease;
  opacity: 1;
}
.modal-transition form{
  transition: transform 0.3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.modal-enter, .modal-leave {
  opacity: 0;
}
.modal-enter form,
.modal-leave form {
  transform: scale(1.5);
}

form.create-note{
  position: relative;
  width: 480px;
  margin: 75px auto 15px auto;
  background: #fff;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 5px #ccc;
}
form.create-note input, form.create-note textarea{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
}
textarea{
  color:#9E9E9E;
}
form.create-note button{
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #FF9800;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  outline: none;
}

.alerts{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
}
.alerts div{
  background: #bbb;
  overflow: hidden;
  color: #ffffff;
}
.alerts div.error{
  background: #e03c3c;
}
.alerts div.success{
  background: #FF9800;
}
.alerts p{
  width: 480px;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
}
.expand-transition{
  max-height: 200px; /* height 0 -> auto is not animatable, so use max-height 0 -> large height */
  transition: max-height 10s ease;
}
.expand-enter, .expand-leave{
  max-height: 0;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    background: #E0E0E0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
header input {
    display: block;
    width: 480px;
    margin: 5px auto;
    height: 40px;
    border: none;
    padding: 0 16px;
    border-radius: 3px;
    font-size:18px;
    font-family: Josefin Sans, sans-serif;
}
header span {
    padding: 15px;
    color: #fff;
    position: absolute;
    right: 95px;
    top: 1px;
}
header img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    right: 60px;
    top: 8px;
}
header a {
    position: absolute;
    display: block;
    color: #fff;
    right: 15px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: color .2s;
}
header a:focus, header a:hover {
    color: #FF9800;
}
@media screen and (max-width: 1200px) {
header span{
      display: none;
}
}
@media screen and (max-width: 720px) {
header input{
      width: calc(100% - 64px);
      margin: 0 0 0 16px;
}
header span, header img {
      display: none;
}
}

.auth-form{
    width: 480px;
    max-width: 100%;
    margin: 25vh auto 15px;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 1px 5px #ccc;
    font-family: 'Josefin Sans', sans-serif;
    color:#9E9E9E;
}
.auth-form h1{
    text-align:center;
}
.auth-form > div {
    margin-top: 15px;
}
.auth-form input {
    height: 32px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}
.auth-form input:focus{
    border-bottom:3px solid #FF9800;
}
.auth-form label, .auth-form input{
    display: block;
    width: 100%;
}
.auth-form button {
    font-size: 22px;
    background: #FF9800;
    border: 1px solid #FF9800;
    padding: 4px 6px;
    margin: 0;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    height: 45px;
}
.auth-form .btn-group button{
    border-radius: 3px 0 0 3px;
    width: 50%;
    float: left;
}
.auth-form .btn-group button + button{
    border-radius: 0 3px 3px 0;
    border-left: none;
}
.auth-form .signup-submit{
    width: 100%;
}
.auth-form hr{
    margin-top: 20px;
}
.auth-form .social-providers{
    text-align: center;
}
.auth-form .social-providers a{
    color: #FF9800;
    font-size: 36px;
    padding: 4px;
}

/*# sourceMappingURL=app.69fa66654d4d376cbe771565b548f72d.css.map*/